In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_RENOVASI.csv", sep='|', encoding='ISO-8859-1')

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,KUANTITAS,NO_DANA,TGL_DANA,DARI,ASL_PERLH,TGL_PERLH,JUMLAH_FOTO,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642068000KD,BIRO LOGISTIK POLDA METRO JAYA,060010100642068000KD,BIRO LOGISTIK POLDA METRO JAYA,TANAH DALAM RENOVASI,TANAH DALAM RENOVASI,...,1,NaN,NaN,101 (Pembelian),NaN,2011-04-26 00:00:00.0000000,0,NaN,Digunakan sendiri untuk operasional,20200226
1,60,KEPOLISIAN NEGARA RI,9101,KPKNL SEMARANG,060010300643124000KD,STAF PRIBADI PIMPINAN,060010300643124000KD,STAF PRIBADI PIMPINAN,GEDUNG DAN BANGUNAN DALAM RENOVASI,GEDUNG DAN BANGUNAN DALAM RENOVASI,...,1,NaN,NaN,112 (Perolehan Lainnya),Dana Samsat,2014-03-20 00:00:00.0000000,0,NaN,Digunakan sendiri untuk operasional,20200226
2,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642424000KP,KORLANTAS POLRI,060018100642424000KP,KORLANTAS POLRI,PERALATAN DAN MESIN DALAM RENOVASI,PERALATAN DAN MESIN DALAM RENOVASI,...,1,NaN,NaN,100 (Saldo Awal),KORLANTAS,2018-12-27 00:00:00.0000000,0,NaN,Digunakan sendiri untuk operasional,20200226
3,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642424000KP,KORLANTAS POLRI,060018100642424000KP,KORLANTAS POLRI,PERALATAN DAN MESIN DALAM RENOVASI,PERALATAN DAN MESIN DALAM RENOVASI,...,1,NaN,NaN,100 (Saldo Awal),KORLANTAS,2018-12-27 00:00:00.0000000,0,NaN,Digunakan sendiri untuk operasional,20200226
4,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642424000KP,KORLANTAS POLRI,060018100642424000KP,KORLANTAS POLRI,PERALATAN DAN MESIN DALAM RENOVASI,PERALATAN DAN MESIN DALAM RENOVASI,...,1,NaN,NaN,100 (Saldo Awal),KORLANTAS,2018-12-27 00:00:00.0000000,0,NaN,Digunakan sendiri untuk operasional,20200226

In [4]:
len(df)

261

In [5]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'JUMLAH_FOTO',
       'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN', 'TGL_TARIK'],
      dtype='object')

In [7]:
cname = [ 'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA',  'TGL_PERLH',  'TGL_TARIK']
len(cname)

7

In [8]:
df[cname[0]]

0      2011-04-26 00:00:00.0000000
1      2014-03-20 00:00:00.0000000
2      2018-12-27 00:00:00.0000000
3      2018-12-27 00:00:00.0000000
4      2018-12-27 00:00:00.0000000
                  ...
256    2018-12-27 00:00:00.0000000
257    2018-12-27 00:00:00.0000000
258    2018-12-27 00:00:00.0000000
259    2018-12-27 00:00:00.0000000
260    2018-12-27 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 261, dtype: object

In [9]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0      2011-04-26
1      2014-03-20
2      2018-12-27
3      2018-12-27
4      2018-12-27
          ...
256    2018-12-27
257    2018-12-27
258    2018-12-27
259    2018-12-27
260    2018-12-27
Name: TANGGAL_PEROLEHAN, Length: 261, dtype: object

In [10]:
df[cname[1]]

0      2011-12-30 00:00:00.0000000
1      2018-09-28 00:00:00.0000000
2      2019-11-05 00:00:00.0000000
3      2019-11-05 00:00:00.0000000
4      2019-11-05 00:00:00.0000000
                  ...
256    2019-11-05 00:00:00.0000000
257    2019-11-05 00:00:00.0000000
258    2019-11-05 00:00:00.0000000
259    2019-11-05 00:00:00.0000000
260    2019-11-05 00:00:00.0000000
Name: TGL_BUKU, Length: 261, dtype: object

In [11]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0      2011-12-30
1      2018-09-28
2      2019-11-05
3      2019-11-05
4      2019-11-05
          ...
256    2019-11-05
257    2019-11-05
258    2019-11-05
259    2019-11-05
260    2019-11-05
Name: TGL_BUKU, Length: 261, dtype: object

In [12]:
df[cname[2]]

0      2011-12-30 00:00:00.0000000
1      2018-09-28 00:00:00.0000000
2      2019-11-05 00:00:00.0000000
3      2019-11-05 00:00:00.0000000
4      2019-11-05 00:00:00.0000000
                  ...
256    2019-11-05 00:00:00.0000000
257    2019-11-05 00:00:00.0000000
258    2019-11-05 00:00:00.0000000
259    2019-11-05 00:00:00.0000000
260    2019-11-05 00:00:00.0000000
Name: TGL_REKAM, Length: 261, dtype: object

In [13]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0      2011-12-30
1      2018-09-28
2      2019-11-05
3      2019-11-05
4      2019-11-05
          ...
256    2019-11-05
257    2019-11-05
258    2019-11-05
259    2019-11-05
260    2019-11-05
Name: TGL_REKAM, Length: 261, dtype: object

In [14]:
 df[cname[3]]

0      2011-10-28 00:00:00.0000000
1      2014-06-29 00:00:00.0000000
2      2019-11-05 00:00:00.0000000
3      2019-11-05 00:00:00.0000000
4      2019-11-05 00:00:00.0000000
                  ...
256    2019-11-05 00:00:00.0000000
257    2019-11-05 00:00:00.0000000
258    2019-11-05 00:00:00.0000000
259    2019-11-05 00:00:00.0000000
260    2019-11-05 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 261, dtype: object

In [15]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0      2011-10-28
1      2014-06-29
2      2019-11-05
3      2019-11-05
4      2019-11-05
          ...
256    2019-11-05
257    2019-11-05
258    2019-11-05
259    2019-11-05
260    2019-11-05
Name: TGL_REKAM_PERTAMA, Length: 261, dtype: object

In [17]:
df[cname[4]] = df[cname[4]].apply(str)

In [18]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0      0000-00-00
1      0000-00-00
2      0000-00-00
3      0000-00-00
4      0000-00-00
          ...
256    0000-00-00
257    0000-00-00
258    0000-00-00
259    0000-00-00
260    0000-00-00
Name: TGL_DANA, Length: 261, dtype: object

In [19]:
df[cname[5]]

0      2011-04-26 00:00:00.0000000
1      2014-03-20 00:00:00.0000000
2      2018-12-27 00:00:00.0000000
3      2018-12-27 00:00:00.0000000
4      2018-12-27 00:00:00.0000000
                  ...
256    2018-12-27 00:00:00.0000000
257    2018-12-27 00:00:00.0000000
258    2018-12-27 00:00:00.0000000
259    2018-12-27 00:00:00.0000000
260    2018-12-27 00:00:00.0000000
Name: TGL_PERLH, Length: 261, dtype: object

In [20]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0      2011-04-26
1      2014-03-20
2      2018-12-27
3      2018-12-27
4      2018-12-27
          ...
256    2018-12-27
257    2018-12-27
258    2018-12-27
259    2018-12-27
260    2018-12-27
Name: TGL_PERLH, Length: 261, dtype: object

In [21]:
df[cname[6]]

0      20200226
1      20200226
2      20200226
3      20200226
4      20200226
         ...
256    20200226
257    20200226
258    20200226
259    20200226
260    20200226
Name: TGL_TARIK, Length: 261, dtype: int64

In [22]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0      2020-02-26
1      2020-02-26
2      2020-02-26
3      2020-02-26
4      2020-02-26
          ...
256    2020-02-26
257    2020-02-26
258    2020-02-26
259    2020-02-26
260    2020-02-26
Name: TGL_TARIK, Length: 261, dtype: object

In [23]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [24]:
df.to_sql('t_ASET_RENOVASI', con=engine, if_exists='append', chunksize=500, index=False)