In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_RUSAK_BERAT.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13,25,27,28,29,30,31,33,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_DANA,TGL_DANA,DARI,ASL_PERLH,TGL_PERLH,NO_PSP,TGL_PSP,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,9102,KPKNL SURAKARTA,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,ALAT KANTOR,MESIN KETIK,...,NaN,NaN,100 (Saldo Awal),DINAS,2005-12-31 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
1,60,KEPOLISIAN NEGARA RI,9102,KPKNL SURAKARTA,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,ALAT KANTOR,MESIN KETIK,...,NaN,NaN,100 (Saldo Awal),DINAS,2005-12-31 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
2,60,KEPOLISIAN NEGARA RI,9102,KPKNL SURAKARTA,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,ALAT RUMAH TANGGA,MEUBELAIR,...,NaN,NaN,100 (Saldo Awal),DINAS,2005-12-31 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
3,60,KEPOLISIAN NEGARA RI,9102,KPKNL SURAKARTA,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,ALAT RUMAH TANGGA,MEUBELAIR,...,NaN,NaN,100 (Saldo Awal),DINAS,2005-12-31 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
4,60,KEPOLISIAN NEGARA RI,9102,KPKNL SURAKARTA,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,060010300643585000KD,KEPOLISIAN RESOR SRAGEN,ALAT RUMAH TANGGA,MEUBELAIR,...,NaN,NaN,100 (Saldo Awal),DINAS,2005-12-31 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'TGL_BUKU',
       'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'NILAI_PEROLEHAN_PERTAMA',
       'NILAI_MUTASI', 'NILAI_PEROLEHAN', 'NILAI_PENYUSUTAN', 'NILAI_BUKU',
       'KONDISI', 'MERK', 'KUANTITAS', 'KODE_PROVINSI', 'URAIAN_PROVINSI',
       'KODE_KAB_KOTA', 'URAIAN_KAB_KOTA', 'KECAMATAN', 'KELURAHAN_DESA',
       'KODE_POS', 'RT_RW', 'ALAMAT', 'ALAMAT_LAINNYA', 'NO_DANA', 'TGL_DANA',
       'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP', 'TGL_PSP',
       'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN', 'TGL_TARIK'],
      dtype='object')

In [5]:
cname = ['TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP', 'TGL_TARIK']

In [6]:
len(cname)

7

In [7]:
df[cname[0]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
151477    NaN
151478    NaN
151479    NaN
151480    NaN
151481    NaN
Name: TGL_BUKU, Length: 151482, dtype: object

In [8]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
151477    0000-00-00
151478    0000-00-00
151479    0000-00-00
151480    0000-00-00
151481    0000-00-00
Name: TGL_BUKU, Length: 151482, dtype: object

In [9]:
df[cname[1]]

0         2018-08-06 00:00:00
1         2018-08-06 00:00:00
2         2018-08-06 00:00:00
3         2018-08-06 00:00:00
4         2018-08-06 00:00:00
                 ...
151477    2007-12-31 00:00:00
151478    2007-12-31 00:00:00
151479    2007-12-31 00:00:00
151480    2007-12-31 00:00:00
151481    2007-12-31 00:00:00
Name: TGL_REKAM, Length: 151482, dtype: object

In [10]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0         2018-08-06
1         2018-08-06
2         2018-08-06
3         2018-08-06
4         2018-08-06
             ...
151477    2007-12-31
151478    2007-12-31
151479    2007-12-31
151480    2007-12-31
151481    2007-12-31
Name: TGL_REKAM, Length: 151482, dtype: object

In [11]:
df[cname[2]]

0         2008-01-02 00:00:00
1         2008-01-02 00:00:00
2         2008-01-02 00:00:00
3         2008-01-02 00:00:00
4         2008-01-02 00:00:00
                 ...
151477    2007-12-31 00:00:00
151478    2007-12-31 00:00:00
151479    2007-12-31 00:00:00
151480    2007-12-31 00:00:00
151481    2007-12-31 00:00:00
Name: TGL_REKAM_PERTAMA, Length: 151482, dtype: object

In [12]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0         2008-01-02
1         2008-01-02
2         2008-01-02
3         2008-01-02
4         2008-01-02
             ...
151477    2007-12-31
151478    2007-12-31
151479    2007-12-31
151480    2007-12-31
151481    2007-12-31
Name: TGL_REKAM_PERTAMA, Length: 151482, dtype: object

In [13]:
df[cname[3]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
151477    NaN
151478    NaN
151479    NaN
151480    NaN
151481    NaN
Name: TGL_DANA, Length: 151482, dtype: object

In [14]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
151477    0000-00-00
151478    0000-00-00
151479    0000-00-00
151480    0000-00-00
151481    0000-00-00
Name: TGL_DANA, Length: 151482, dtype: object

In [15]:
df[cname[4]]

0         2005-12-31 00:00:00
1         2005-12-31 00:00:00
2         2005-12-31 00:00:00
3         2005-12-31 00:00:00
4         2005-12-31 00:00:00
                 ...
151477    2006-02-10 00:00:00
151478    2006-02-10 00:00:00
151479    2006-02-10 00:00:00
151480    2006-02-10 00:00:00
151481    2006-02-10 00:00:00
Name: TGL_PERLH, Length: 151482, dtype: object

In [16]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0         2005-12-31
1         2005-12-31
2         2005-12-31
3         2005-12-31
4         2005-12-31
             ...
151477    2006-02-10
151478    2006-02-10
151479    2006-02-10
151480    2006-02-10
151481    2006-02-10
Name: TGL_PERLH, Length: 151482, dtype: object

In [17]:
df[cname[5]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
151477    NaN
151478    NaN
151479    NaN
151480    NaN
151481    NaN
Name: TGL_PSP, Length: 151482, dtype: object

In [18]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
151477    0000-00-00
151478    0000-00-00
151479    0000-00-00
151480    0000-00-00
151481    0000-00-00
Name: TGL_PSP, Length: 151482, dtype: object

In [19]:
df[cname[6]]

0         20200226
1         20200226
2         20200226
3         20200226
4         20200226
            ...
151477    20200226
151478    20200226
151479    20200226
151480    20200226
151481    20200226
Name: TGL_TARIK, Length: 151482, dtype: int64

In [20]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-02-26
1         2020-02-26
2         2020-02-26
3         2020-02-26
4         2020-02-26
             ...
151477    2020-02-26
151478    2020-02-26
151479    2020-02-26
151480    2020-02-26
151481    2020-02-26
Name: TGL_TARIK, Length: 151482, dtype: object

In [21]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [22]:
df.to_sql('t_ASET_RUSAK_BERAT', con=engine, if_exists='append', chunksize=500, index=False)