In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_RUMAH_NEGARA.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_KTP,TMP_LAHIR,TGL_LAHIR,GOLONGAN,JAB_STR,JAB_FUNGSIONAL,TMT_JAB,TGL_PENSIUN,TGL_TARIK,URAIAN_PROVINSI
0,60,KEPOLISIAN NEGARA RI,5104,KPKNL METRO,060011200650922000KD,POLRES WAY KANAN,060011200650922000KD,POLRES WAY KANAN,BANGUNAN GEDUNG TEMPAT TINGGAL,RUMAH NEGARA GOLONGAN II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200226,LAMPUNG
1,60,KEPOLISIAN NEGARA RI,5104,KPKNL METRO,060011200665992000KD,POLRES LAMPUNG TENGAH,060011200665992000KD,POLRES LAMPUNG TENGAH,BANGUNAN GEDUNG TEMPAT TINGGAL,RUMAH NEGARA GOLONGAN II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200226,LAMPUNG
2,60,KEPOLISIAN NEGARA RI,11101,KPKNL PONTIANAK,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,BANGUNAN GEDUNG TEMPAT TINGGAL,RUMAH NEGARA GOLONGAN II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200226,KALIMANTAN BARAT
3,60,KEPOLISIAN NEGARA RI,11101,KPKNL PONTIANAK,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,BANGUNAN GEDUNG TEMPAT TINGGAL,RUMAH NEGARA GOLONGAN II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200226,KALIMANTAN BARAT
4,60,KEPOLISIAN NEGARA RI,11101,KPKNL PONTIANAK,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,060011300645273000KD,PELAYANAN MARKAS POLDA KALBAR,BANGUNAN GEDUNG TEMPAT TINGGAL,RUMAH NEGARA GOLONGAN II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200226,KALIMANTAN BARAT

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'NO_KIB',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'SBSK', 'OPTIMALISASI', 'KD_KABKOTA', 'NM_KABKOTA', 'KODE_PROVINSI',
       'KODE_POS', 'JALAN', 'LATITUDE', 'LONGITUDE', 'LUAS_BANGUNAN',
       'LUAS_DASAR_BANGUNAN', 'JUMLAH_LANTAI', 'NO_DANA', 'TGL_DANA', 'DARI',
       'ASL_PERLH', 'TGL_PERLH', 'NO_SK_PSP', 'TGL_SK_PSP', 'JUMLAH_FOTO',
       'JUMLAH_KIB', 'STATUS_PENGELOLAAN', 'JENIS_SERTIFIKAT',
       'NO_DOK_KEPEMILIKAN', 'DOK_KEPEMILIKAN', 'JNS_DOK_KEPEMILIKAN',
       'DOKUMEN', 'STATUS_PENGGUNAAN', 'JENIS_PENGGUNA', 'KD_SATKER_PENGGUNA',
       'UR_SATKER_PENGGUNA', 'ALAMAT_SATKER_PENGGUNA', 'STATUS_SBSN',
       'STATUS_IDLE', 'KD_BRG_TANAH', 'UR_BRG_TANAH', 'NUP_TANAH',
       'KD_SATKER_TANAH', 'NM_SATKER_TANAH', 'NO_SIP', 'TGL_SK', 'NIP_PMK',
       'NM_PMK', 'NO_KTP', 'TMP_LAHIR', 'TGL_LAHIR', 'GOLONGAN', 'JAB_STR',
       'JAB_FUNGSIONAL', 'TMT_JAB', 'TGL_PENSIUN', 'TGL_TARIK',
       'URAIAN_PROVINSI'],
      dtype='object')

In [5]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',  'TGL_DANA', 'TGL_PERLH',  'TGL_SK_PSP',
        'TGL_SK', 'TGL_LAHIR', 'TGL_PENSIUN', 'TGL_TARIK']

In [6]:
len(cname)

11

In [7]:
df[cname[0]]

0        1986-01-07 00:00:00.0000000
1        2004-12-28 00:00:00.0000000
2        1995-12-31 00:00:00.0000000
3        1995-12-31 00:00:00.0000000
4        1982-12-31 00:00:00.0000000
                    ...
26956    2002-12-22 00:00:00.0000000
26957    2003-05-18 00:00:00.0000000
26958    2003-05-18 00:00:00.0000000
26959    2003-05-18 00:00:00.0000000
26960    2003-05-18 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 26961, dtype: object

In [8]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0        1986-01-07
1        2004-12-28
2        1995-12-31
3        1995-12-31
4        1982-12-31
            ...
26956    2002-12-22
26957    2003-05-18
26958    2003-05-18
26959    2003-05-18
26960    2003-05-18
Name: TANGGAL_PEROLEHAN, Length: 26961, dtype: object

In [9]:
df[cname[1]]

0        2018-05-16 00:00:00.0000000
1        2018-04-10 00:00:00.0000000
2        2017-11-14 00:00:00.0000000
3        2017-11-14 00:00:00.0000000
4        2017-11-14 00:00:00.0000000
                    ...
26956    2018-04-03 00:00:00.0000000
26957    2018-03-12 00:00:00.0000000
26958    2018-03-12 00:00:00.0000000
26959    2018-03-12 00:00:00.0000000
26960    2018-03-12 00:00:00.0000000
Name: TGL_BUKU, Length: 26961, dtype: object

In [10]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0        2018-05-16
1        2018-04-10
2        2017-11-14
3        2017-11-14
4        2017-11-14
            ...
26956    2018-04-03
26957    2018-03-12
26958    2018-03-12
26959    2018-03-12
26960    2018-03-12
Name: TGL_BUKU, Length: 26961, dtype: object

In [11]:
df[cname[2]]

0        2018-05-16 00:00:00.0000000
1        2018-04-10 00:00:00.0000000
2        2017-11-14 00:00:00.0000000
3        2017-11-14 00:00:00.0000000
4        2017-11-14 00:00:00.0000000
                    ...
26956    2018-04-03 00:00:00.0000000
26957    2018-03-12 00:00:00.0000000
26958    2018-03-12 00:00:00.0000000
26959    2018-03-12 00:00:00.0000000
26960    2018-03-12 00:00:00.0000000
Name: TGL_REKAM, Length: 26961, dtype: object

In [12]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0        2018-05-16
1        2018-04-10
2        2017-11-14
3        2017-11-14
4        2017-11-14
            ...
26956    2018-04-03
26957    2018-03-12
26958    2018-03-12
26959    2018-03-12
26960    2018-03-12
Name: TGL_REKAM, Length: 26961, dtype: object

In [13]:
df[cname[3]]

0        2016-06-25 00:00:00.0000000
1        2018-04-09 00:00:00.0000000
2        2008-12-13 00:00:00.0000000
3        2008-12-14 00:00:00.0000000
4        2008-12-14 00:00:00.0000000
                    ...
26956    2018-04-03 00:00:00.0000000
26957    2009-03-24 00:00:00.0000000
26958    2009-03-24 00:00:00.0000000
26959    2009-03-24 00:00:00.0000000
26960    2009-03-24 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 26961, dtype: object

In [14]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0        2016-06-25
1        2018-04-09
2        2008-12-13
3        2008-12-14
4        2008-12-14
            ...
26956    2018-04-03
26957    2009-03-24
26958    2009-03-24
26959    2009-03-24
26960    2009-03-24
Name: TGL_REKAM_PERTAMA, Length: 26961, dtype: object

In [15]:
df[cname[4]]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
26956    NaN
26957    NaN
26958    NaN
26959    NaN
26960    NaN
Name: TGL_DANA, Length: 26961, dtype: object

In [16]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
26956    0000-00-00
26957    0000-00-00
26958    0000-00-00
26959    0000-00-00
26960    0000-00-00
Name: TGL_DANA, Length: 26961, dtype: object

In [17]:
df[cname[5]]

0        1986-01-07 00:00:00.0000000
1        2004-12-28 00:00:00.0000000
2        1995-12-31 00:00:00.0000000
3        1995-12-31 00:00:00.0000000
4        1982-12-31 00:00:00.0000000
                    ...
26956    2002-12-22 00:00:00.0000000
26957    2003-05-18 00:00:00.0000000
26958    2003-05-18 00:00:00.0000000
26959    2003-05-18 00:00:00.0000000
26960    2003-05-18 00:00:00.0000000
Name: TGL_PERLH, Length: 26961, dtype: object

In [18]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0        1986-01-07
1        2004-12-28
2        1995-12-31
3        1995-12-31
4        1982-12-31
            ...
26956    2002-12-22
26957    2003-05-18
26958    2003-05-18
26959    2003-05-18
26960    2003-05-18
Name: TGL_PERLH, Length: 26961, dtype: object

In [19]:
df[cname[6]]

0        2019-12-19 00:00:00.0000000
1        2019-11-01 00:00:00.0000000
2                                NaN
3                                NaN
4                                NaN
                    ...
26956                            NaN
26957                            NaN
26958                            NaN
26959                            NaN
26960                            NaN
Name: TGL_SK_PSP, Length: 26961, dtype: object

In [20]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0        2019-12-19
1        2019-11-01
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
26956    0000-00-00
26957    0000-00-00
26958    0000-00-00
26959    0000-00-00
26960    0000-00-00
Name: TGL_SK_PSP, Length: 26961, dtype: object

In [21]:
csk = df[cname[7]]

In [22]:
strsk = csk.apply(str)

In [23]:
df = convert_todate(df, column_name=cname[7])
df[cname[7]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
26956    0000-00-00
26957    0000-00-00
26958    0000-00-00
26959    0000-00-00
26960    0000-00-00
Name: TGL_SK, Length: 26961, dtype: object

In [24]:
clahir = df[cname[8]]

In [25]:
strlahir = clahir.apply(str)

In [26]:
df = convert_todate(df, column_name=cname[8])
df[cname[8]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
26956    0000-00-00
26957    0000-00-00
26958    0000-00-00
26959    0000-00-00
26960    0000-00-00
Name: TGL_LAHIR, Length: 26961, dtype: object

In [27]:
cpensiun = df[cname[9]]

In [28]:
strpensiun = cpensiun.apply(str)

In [29]:
df = convert_todate(df, column_name=cname[9])
df[cname[9]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
26956    0000-00-00
26957    0000-00-00
26958    0000-00-00
26959    0000-00-00
26960    0000-00-00
Name: TGL_PENSIUN, Length: 26961, dtype: object

In [30]:
df[cname[10]]

0        20200226
1        20200226
2        20200226
3        20200226
4        20200226
           ...
26956    20200226
26957    20200226
26958    20200226
26959    20200226
26960    20200226
Name: TGL_TARIK, Length: 26961, dtype: int64

In [31]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0        2020-02-26
1        2020-02-26
2        2020-02-26
3        2020-02-26
4        2020-02-26
            ...
26956    2020-02-26
26957    2020-02-26
26958    2020-02-26
26959    2020-02-26
26960    2020-02-26
Name: TGL_TARIK, Length: 26961, dtype: object

In [32]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [33]:
df.to_sql('t_ASET_RUMAH_NEGARA', con=engine, if_exists='append', chunksize=500, index=False)

/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 143
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 191
  rowcount = cursor.executemany(statement, parameters)