In [58]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [59]:
df = pd.read_csv("../data/ASET_SENJATA.csv", sep='|', encoding='ISO-8859-1')

In [60]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,TEMPAT_LAHIR_PEMAKAI,TGL_LAHIR_PEMAKAI,GOL_PEMAKAI,JAB_PEMAKAI,JAB_FUNG_PEMAKAI,TMT_JAB_PEMAKAI,TGL_PENSIUN_PEMAKAI,STATUS_SBSN,STATUS_IDLE,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,SENJATA API,SENJATA GENGGAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
1,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,SENJATA API,SENJATA GENGGAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
2,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,SENJATA API,SENJATA GENGGAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
3,60,KEPOLISIAN NEGARA RI,3103.0,KPKNL PEKANBARU,060010900679401000KD,DIT PAM OBVIT POLDA RIAU,060010900679401000KD,DIT PAM OBVIT POLDA RIAU,SENJATA API,SENJATA GENGGAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
4,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,060010100642012000KD,DIREKTORAT LALU LINTAS POLDA METRO JAYA,SENJATA API,SENJATA GENGGAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0

In [61]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP',
       'TGL_PSP', 'JUMLAH_KIB', 'JUMLAH_FOTO', 'STATUS_PENGELOLAAN',
       'STATUS_PENGGUNAAN', 'JENIS_PENGGUNA', 'KD_SATKER_PENGGUNA',
       'UR_SATKER_PENGGUNA', 'ALAMAT_SATKER_PENGGUNA', 'NAMA', 'KALIBER',
       'NO_PABRIK', 'TAHUN_BUAT', 'SURAT', 'TGL_SURAT', 'NAMA_PABRIK',
       'NEGARA_PEMBUAT', 'KODE_RUANG', 'NAMA_RUANG', 'KODE_SATKER_BANGUNAN',
       'KODE_BARANG_BANGUNAN', 'NUP_BARANG_BANGUNAN', 'KIB_BARANG_BANGUNAN',
       'NO_SIP', 'TGL_SIP', 'NIP_PEMAKAI', 'NAMA_PEMAKAI', 'NO_KTP_PEMAKAI',
       'TEMPAT_LAHIR_PEMAKAI', 'TGL_LAHIR_PEMAKAI', 'GOL_PEMAKAI',
       'JAB_PEMAKAI', 'JAB_FUNG_PEMAKAI', 'TMT_JAB_PEMAKAI',
       'TGL_PENSIUN_PEMAKAI', 'STATUS_SBSN', 'STATUS_IDLE', 'TGL_TARIK'],
      dtype='object')

In [62]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP', 
        'TGL_SURAT', 'TGL_SIP', 'TGL_LAHIR_PEMAKAI', 'TGL_PENSIUN_PEMAKAI','TGL_TARIK']

In [63]:
df[cname[9]]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
507210   NaN
507211   NaN
507212   NaN
507213   NaN
507214   NaN
Name: TGL_LAHIR_PEMAKAI, Length: 507215, dtype: float64

In [64]:
df[cname[0]]

0         1970-12-31 00:00:00.0000000
1         1970-12-31 00:00:00.0000000
2         1970-12-31 00:00:00.0000000
3         2017-12-20 00:00:00.0000000
4         1970-12-31 00:00:00.0000000
                     ...
507210    2006-01-23 00:00:00.0000000
507211    2006-01-23 00:00:00.0000000
507212    2006-01-23 00:00:00.0000000
507213    2006-01-23 00:00:00.0000000
507214    2006-01-23 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 507215, dtype: object

In [65]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0         1970-12-31
1         1970-12-31
2         1970-12-31
3         2017-12-20
4         1970-12-31
             ...
507210    2006-01-23
507211    2006-01-23
507212    2006-01-23
507213    2006-01-23
507214    2006-01-23
Name: TANGGAL_PEROLEHAN, Length: 507215, dtype: object

In [66]:
df[cname[1]]

0         2007-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2007-12-31 00:00:00.0000000
3         2018-12-31 00:00:00.0000000
4         2007-12-31 00:00:00.0000000
                     ...
507210    2008-12-31 00:00:00.0000000
507211    2008-12-31 00:00:00.0000000
507212    2008-12-31 00:00:00.0000000
507213    2008-12-31 00:00:00.0000000
507214    2008-12-31 00:00:00.0000000
Name: TGL_BUKU, Length: 507215, dtype: object

In [67]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0         2007-12-31
1         2007-12-31
2         2007-12-31
3         2018-12-31
4         2007-12-31
             ...
507210    2008-12-31
507211    2008-12-31
507212    2008-12-31
507213    2008-12-31
507214    2008-12-31
Name: TGL_BUKU, Length: 507215, dtype: object

In [68]:
df[cname[2]]

0         2007-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2007-12-31 00:00:00.0000000
3         2018-12-31 00:00:00.0000000
4         2007-12-31 00:00:00.0000000
                     ...
507210    2008-12-31 00:00:00.0000000
507211    2008-12-31 00:00:00.0000000
507212    2008-12-31 00:00:00.0000000
507213    2008-12-31 00:00:00.0000000
507214    2008-12-31 00:00:00.0000000
Name: TGL_REKAM, Length: 507215, dtype: object

In [69]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0         2007-12-31
1         2007-12-31
2         2007-12-31
3         2018-12-31
4         2007-12-31
             ...
507210    2008-12-31
507211    2008-12-31
507212    2008-12-31
507213    2008-12-31
507214    2008-12-31
Name: TGL_REKAM, Length: 507215, dtype: object

In [70]:
df[cname[3]]

0         2007-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2007-12-31 00:00:00.0000000
3         2018-12-31 00:00:00.0000000
4         2007-12-31 00:00:00.0000000
                     ...
507210    2008-12-31 00:00:00.0000000
507211    2008-12-31 00:00:00.0000000
507212    2008-12-31 00:00:00.0000000
507213    2008-12-31 00:00:00.0000000
507214    2008-12-31 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 507215, dtype: object

In [71]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         2007-12-31
1         2007-12-31
2         2007-12-31
3         2018-12-31
4         2007-12-31
             ...
507210    2008-12-31
507211    2008-12-31
507212    2008-12-31
507213    2008-12-31
507214    2008-12-31
Name: TGL_REKAM_PERTAMA, Length: 507215, dtype: object

In [72]:
df[cname[4]]= df[cname[4]].apply(str)

In [73]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_DANA, Length: 507215, dtype: object

In [74]:
df[cname[5]]

0         1970-12-31 00:00:00.0000000
1         1970-12-31 00:00:00.0000000
2         1970-12-31 00:00:00.0000000
3         2017-12-20 00:00:00.0000000
4         1970-12-31 00:00:00.0000000
                     ...
507210    2006-01-23 00:00:00.0000000
507211    2006-01-23 00:00:00.0000000
507212    2006-01-23 00:00:00.0000000
507213    2006-01-23 00:00:00.0000000
507214    2006-01-23 00:00:00.0000000
Name: TGL_PERLH, Length: 507215, dtype: object

In [75]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0         1970-12-31
1         1970-12-31
2         1970-12-31
3         2017-12-20
4         1970-12-31
             ...
507210    2006-01-23
507211    2006-01-23
507212    2006-01-23
507213    2006-01-23
507214    2006-01-23
Name: TGL_PERLH, Length: 507215, dtype: object

In [76]:
df[cname[6]] = df[cname[6]].apply(str)

In [77]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_PSP, Length: 507215, dtype: object

In [78]:
df[cname[7]] =df[cname[7]].apply(str)

In [79]:
df = convert_todate(df, column_name=cname[7])
df[cname[7]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_SURAT, Length: 507215, dtype: object

In [80]:
df[cname[8]] = df[cname[8]].apply(str)

In [81]:
df = convert_todate(df, column_name=cname[8])
df[cname[8]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_SIP, Length: 507215, dtype: object

In [82]:
df[cname[9]] = df[cname[9]].apply(str)
df[cname[9]]

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
507210    nan
507211    nan
507212    nan
507213    nan
507214    nan
Name: TGL_LAHIR_PEMAKAI, Length: 507215, dtype: object

In [83]:
df = convert_todate(df, column_name=cname[9])
df[cname[9]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_LAHIR_PEMAKAI, Length: 507215, dtype: object

In [84]:
df[cname[10]] = df[cname[10]].apply(str)

In [85]:
df = convert_todate(df, column_name=cname[10])
df[cname[10]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
507210    0000-00-00
507211    0000-00-00
507212    0000-00-00
507213    0000-00-00
507214    0000-00-00
Name: TGL_PENSIUN_PEMAKAI, Length: 507215, dtype: object

In [86]:
df['TGL_TARIK'] = df['TGL_TARIK'].fillna(0)
df['TGL_TARIK']

0         20200225.0
1         20200225.0
2         20200225.0
3         20200225.0
4         20200225.0
             ...
507210    20200225.0
507211    20200225.0
507212    20200225.0
507213    20200225.0
507214    20200225.0
Name: TGL_TARIK, Length: 507215, dtype: float64

In [87]:
# df['TGL_TARIK'] = df['TGL_TARIK'].apply(np.int64)
# df['TGL_TARIK']

In [88]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-02-25
1         2020-02-25
2         2020-02-25
3         2020-02-25
4         2020-02-25
             ...
507210    2020-02-25
507211    2020-02-25
507212    2020-02-25
507213    2020-02-25
507214    2020-02-25
Name: TGL_TARIK, Length: 507215, dtype: object

In [89]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [90]:
df.to_sql('t_ASET_SENJATA', con=engine, if_exists='append', chunksize=500, index=False)

/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 34
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 130
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 226
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 322
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 418
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 14
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 110
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 206
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 302
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 398
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 494
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 90
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 186
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 282
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 378
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 474
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 70
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 166
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 262
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 358
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 454
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 50
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 146
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 242
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 338
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 434
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 30
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 126
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 222
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 318
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 414
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 10
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 106
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 202
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 298
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 394
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 490
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 86
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 182
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 278
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 374
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 470
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 66
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 162
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 355
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 451
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 47
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 143
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 239
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 335
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 431
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 27
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 123
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 219
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 315
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 411
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 7
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 103
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 199
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 295
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 391
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 487
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 83
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 179
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 275
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 371
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 392
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 488
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 84
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 180
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 276
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 372
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 468
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 64
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 160
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 256
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 352
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 448
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 44
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 140
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 236
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 332
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 428
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 24
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 120
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 216
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 312
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 408
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 4
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 100
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 196
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 292
  rowcount = cursor.executemany(statement, parameters)