In [43]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [44]:
df = pd.read_csv("../data/ASET_HILANG.csv", sep='|', encoding='ISO-8859-1')

In [45]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_DANA,TGL_DANA,DARI,ASL_PERLH,TGL_PERLH,NO_PSP,TGL_PSP,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,12103,KPKNL BANJARMASIN,060011500645646000KD,POLRESTA BANJARMASIN,060011500645646000KD,POLRESTA BANJARMASIN,SENJATA API,SENJATA GENGGAM,...,'',2019-10-03 00:00:00,100 (Saldo Awal),POLDA KALSEL,1980-01-02 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226

In [46]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'TGL_BUKU',
       'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'NILAI_PEROLEHAN_PERTAMA',
       'NILAI_MUTASI', 'NILAI_PEROLEHAN', 'NILAI_PENYUSUTAN', 'NILAI_BUKU',
       'KONDISI', 'MERK', 'KUANTITAS', 'KODE_PROVINSI', 'URAIAN_PROVINSI',
       'KODE_KAB_KOTA', 'URAIAN_KAB_KOTA', 'KECAMATAN', 'KELURAHAN_DESA',
       'KODE_POS', 'RT_RW', 'ALAMAT', 'ALAMAT_LAINNYA', 'NO_DANA', 'TGL_DANA',
       'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP', 'TGL_PSP',
       'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN', 'TGL_TARIK'],
      dtype='object')

In [47]:
cname = ['TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP', 'TGL_TARIK']

In [48]:
len(cname)

7

In [49]:
strbuku = df[cname[0]]

In [50]:
strtarik = strbuku.apply(str)
strtarik.head()

0    nan
Name: TGL_BUKU, dtype: object

In [51]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0    0000-00-00
Name: TGL_BUKU, dtype: object

In [52]:
df[cname[1]]

0    2008-12-31 00:00:00
Name: TGL_REKAM, dtype: object

In [53]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0    2008-12-31
Name: TGL_REKAM, dtype: object

In [54]:
df[cname[2]]

0    2008-12-31 00:00:00
Name: TGL_REKAM_PERTAMA, dtype: object

In [55]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0    2008-12-31
Name: TGL_REKAM_PERTAMA, dtype: object

In [56]:
df[cname[3]]

0    2019-10-03 00:00:00
Name: TGL_DANA, dtype: object

In [57]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0    2019-10-03
Name: TGL_DANA, dtype: object

In [58]:
df[cname[4]]

0    1980-01-02 00:00:00
Name: TGL_PERLH, dtype: object

In [59]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0    1980-01-02
Name: TGL_PERLH, dtype: object

In [60]:
df[cname[5]]

0   NaN
Name: TGL_PSP, dtype: float64

In [61]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0    0000-00-00
Name: TGL_PSP, dtype: object

In [62]:
df[cname[6]]

0    20200226
Name: TGL_TARIK, dtype: int64

In [63]:
# declaration df to data variable
data = df
# declaration data series ('TGL_TARIK') to column_name
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0    2020-02-26
Name: TGL_TARIK, dtype: object

In [64]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [65]:
df.to_sql('t_ASET_HILANG', con=engine, if_exists='append', chunksize=500, index=False)