In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_TAK_BERWUJUD.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (31,32,37,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_PSP,TGL_PSP,JUMLAH_FOTO,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,JENIS_PENGGUNA,KD_SATKER_PENGGUNA,UR_SATKER_PENGGUNA,ALAMAT_SATKER_PENGGUNA,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ASET TAK BERWUJUD,ASET TAK BERWUJUD,...,NaN,NaN,0.0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226.0
1,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ASET TAK BERWUJUD,ASET TAK BERWUJUD,...,NaN,NaN,0.0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226.0
2,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ASET TAK BERWUJUD,ASET TAK BERWUJUD,...,NaN,NaN,0.0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226.0
3,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ASET TAK BERWUJUD,ASET TAK BERWUJUD,...,NaN,NaN,0.0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226.0
4,60,KEPOLISIAN NEGARA RI,7104.0,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ASET TAK BERWUJUD,ASET TAK BERWUJUD,...,NaN,NaN,0.0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226.0

In [5]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'NO_KIB',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP',
       'TGL_PSP', 'JUMLAH_FOTO', 'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN',
       'JENIS_PENGGUNA', 'KD_SATKER_PENGGUNA', 'UR_SATKER_PENGGUNA',
       'ALAMAT_SATKER_PENGGUNA', 'TGL_TARIK'],
      dtype='object')

In [6]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP',
        'TGL_TARIK']

In [7]:
len(cname)

8

In [8]:
df[cname[0]]

0         2019-10-01 00:00:00.0000000
1         2019-10-01 00:00:00.0000000
2         2019-10-01 00:00:00.0000000
3         2019-10-01 00:00:00.0000000
4         2019-10-01 00:00:00.0000000
                     ...
108617    2019-10-01 00:00:00.0000000
108618    2019-10-01 00:00:00.0000000
108619    2019-10-01 00:00:00.0000000
108620    2019-10-01 00:00:00.0000000
108621    2019-10-01 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 108622, dtype: object

In [9]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0         2019-10-01
1         2019-10-01
2         2019-10-01
3         2019-10-01
4         2019-10-01
             ...
108617    2019-10-01
108618    2019-10-01
108619    2019-10-01
108620    2019-10-01
108621    2019-10-01
Name: TANGGAL_PEROLEHAN, Length: 108622, dtype: object

In [10]:
df[cname[1]]

0         2019-12-12 00:00:00.0000000
1         2019-12-12 00:00:00.0000000
2         2019-12-12 00:00:00.0000000
3         2019-12-12 00:00:00.0000000
4         2019-12-12 00:00:00.0000000
                     ...
108617    2019-12-12 00:00:00.0000000
108618    2019-12-12 00:00:00.0000000
108619    2019-12-12 00:00:00.0000000
108620    2019-12-12 00:00:00.0000000
108621    2019-12-12 00:00:00.0000000
Name: TGL_BUKU, Length: 108622, dtype: object

In [11]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0         2019-12-12
1         2019-12-12
2         2019-12-12
3         2019-12-12
4         2019-12-12
             ...
108617    2019-12-12
108618    2019-12-12
108619    2019-12-12
108620    2019-12-12
108621    2019-12-12
Name: TGL_BUKU, Length: 108622, dtype: object

In [12]:
df[cname[2]]

0         2019-12-12 00:00:00.0000000
1         2019-12-12 00:00:00.0000000
2         2019-12-12 00:00:00.0000000
3         2019-12-12 00:00:00.0000000
4         2019-12-12 00:00:00.0000000
                     ...
108617    2019-12-12 00:00:00.0000000
108618    2019-12-12 00:00:00.0000000
108619    2019-12-12 00:00:00.0000000
108620    2019-12-12 00:00:00.0000000
108621    2019-12-12 00:00:00.0000000
Name: TGL_REKAM, Length: 108622, dtype: object

In [13]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0         2019-12-12
1         2019-12-12
2         2019-12-12
3         2019-12-12
4         2019-12-12
             ...
108617    2019-12-12
108618    2019-12-12
108619    2019-12-12
108620    2019-12-12
108621    2019-12-12
Name: TGL_REKAM, Length: 108622, dtype: object

In [14]:
df[cname[3]]

0         2019-12-12 00:00:00.0000000
1         2019-12-12 00:00:00.0000000
2         2019-12-12 00:00:00.0000000
3         2019-12-12 00:00:00.0000000
4         2019-12-12 00:00:00.0000000
                     ...
108617    2019-12-12 00:00:00.0000000
108618    2019-12-12 00:00:00.0000000
108619    2019-12-12 00:00:00.0000000
108620    2019-12-12 00:00:00.0000000
108621    2019-12-12 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 108622, dtype: object

In [15]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         2019-12-12
1         2019-12-12
2         2019-12-12
3         2019-12-12
4         2019-12-12
             ...
108617    2019-12-12
108618    2019-12-12
108619    2019-12-12
108620    2019-12-12
108621    2019-12-12
Name: TGL_REKAM_PERTAMA, Length: 108622, dtype: object

In [16]:
cdana = df[cname[4]]

In [17]:
strdana = cdana.apply(str)

In [18]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
108617    0000-00-00
108618    0000-00-00
108619    0000-00-00
108620    0000-00-00
108621    0000-00-00
Name: TGL_DANA, Length: 108622, dtype: object

In [19]:
df[cname[5]]

0         2019-10-01 00:00:00.0000000
1         2019-10-01 00:00:00.0000000
2         2019-10-01 00:00:00.0000000
3         2019-10-01 00:00:00.0000000
4         2019-10-01 00:00:00.0000000
                     ...
108617    2019-10-01 00:00:00.0000000
108618    2019-10-01 00:00:00.0000000
108619    2019-10-01 00:00:00.0000000
108620    2019-10-01 00:00:00.0000000
108621    2019-10-01 00:00:00.0000000
Name: TGL_PERLH, Length: 108622, dtype: object

In [20]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0         2019-10-01
1         2019-10-01
2         2019-10-01
3         2019-10-01
4         2019-10-01
             ...
108617    2019-10-01
108618    2019-10-01
108619    2019-10-01
108620    2019-10-01
108621    2019-10-01
Name: TGL_PERLH, Length: 108622, dtype: object

In [21]:
df[cname[6]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
108617    NaN
108618    NaN
108619    NaN
108620    NaN
108621    NaN
Name: TGL_PSP, Length: 108622, dtype: object

In [22]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
108617    0000-00-00
108618    0000-00-00
108619    0000-00-00
108620    0000-00-00
108621    0000-00-00
Name: TGL_PSP, Length: 108622, dtype: object

In [23]:
df['TGL_TARIK'] = df['TGL_TARIK'].fillna(0)
df['TGL_TARIK']

0         20200226.0
1         20200226.0
2         20200226.0
3         20200226.0
4         20200226.0
             ...
108617    20200226.0
108618    20200226.0
108619    20200226.0
108620    20200226.0
108621    20200226.0
Name: TGL_TARIK, Length: 108622, dtype: float64

In [24]:
df['TGL_TARIK'] = df['TGL_TARIK'].apply(np.int64)
df['TGL_TARIK']

0         20200226
1         20200226
2         20200226
3         20200226
4         20200226
            ...
108617    20200226
108618    20200226
108619    20200226
108620    20200226
108621    20200226
Name: TGL_TARIK, Length: 108622, dtype: int64

In [25]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-02-26
1         2020-02-26
2         2020-02-26
3         2020-02-26
4         2020-02-26
             ...
108617    2020-02-26
108618    2020-02-26
108619    2020-02-26
108620    2020-02-26
108621    2020-02-26
Name: TGL_TARIK, Length: 108622, dtype: object

In [26]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [27]:
df.to_sql('t_ASET_TAK_BERWUJUD', con=engine, if_exists='append', chunksize=500, index=False)

/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 297
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 412
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 414
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 416
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 418
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'UR_SATKER_PENGGUNA' at row 420
  rowcount = cursor.executemany(statement, parameters)