In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_ALAT_BERAT.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,TEMPAT_LAHIR_PEMAKAI,TGL_LAHIR_PEMAKAI,GOL_PEMAKAI,JAB_PEMAKAI,JAB_FUNG_PEMAKAI,TMT_JAB_PEMAKAI,TGL_PENSIUN_PEMAKAI,STATUS_SBSN,STATUS_IDLE,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,9110.0,KPKNL PURWOKERTO,060010300643220000KD,SPN PURWOKERTO,060010300643220000KD,SPN PURWOKERTO,ALAT BANTU,PERALATAN SAR MOUNTENERING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
1,60,KEPOLISIAN NEGARA RI,9101.0,KPKNL SEMARANG,060010300643234000KD,BIRO LOGISTIK,060010300643234000KD,BIRO LOGISTIK,ALAT BANTU,PERALATAN SELAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
2,60,KEPOLISIAN NEGARA RI,9101.0,KPKNL SEMARANG,060010300643344000KD,POLRESTABES SEMARANG,060010300643344000KD,POLRESTABES SEMARANG,ALAT BANTU,PERALATAN INTELEJEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
3,60,KEPOLISIAN NEGARA RI,9102.0,KPKNL SURAKARTA,060010300643543000KD,KEPOLISIAN RESOR KOTA SURAKARTA,060010300643543000KD,KEPOLISIAN RESOR KOTA SURAKARTA,ALAT BESAR DARAT,EXCAVATOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0
4,60,KEPOLISIAN NEGARA RI,9101.0,KPKNL SEMARANG,060010300651025000KD,BID TIK POLDA JATENG,060010300651025000KD,BID TIK POLDA JATENG,ALAT BANTU,ELECTRIC GENERATING SET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200225.0

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP',
       'TGL_PSP', 'JUMLAH_KIB', 'JUMLAH_FOTO', 'STATUS_PENGELOLAAN',
       'STATUS_PENGGUNAAN', 'JENIS_PENGGUNA', 'KD_SATKER_PENGGUNA',
       'UR_SATKER_PENGGUNA', 'ALAMAT_SATKER_PENGGUNA', 'NAMA_PABRIK',
       'TAHUN_RAKIT', 'TAHUN_BUAT', 'NEGARA_PEMBUAT', 'KAPASITAS',
       'SISTEM_OPERASI', 'SISTEM_PENDINGIN', 'SISTEM_PEMBAKAR',
       'DUDUKAN_PERALATAN', 'POWER_TRAIN', 'NO_MESIN', 'NO_RANGKA',
       'KODE_RUANG', 'NAMA_RUANG', 'KODE_SATKER_BANGUNAN',
       'KODE_BARANG_BANGUNAN', 'NUP_BARANG_BANGUNAN', 'KIB_BARANG_BANGUNAN',
       'NO_SIP', 'TGL_SIP', 'NIP_PEMAKAI', 'NAMA_PEMAKAI', 'NO_KTP_PEMAKAI',
       'TEMPAT_LAHIR_PEMAKAI', 'TGL_LAHIR_PEMAKAI', 'GOL_PEMAKAI',
       'JAB_PEMAKAI', 'JAB_FUNG_PEMAKAI', 'TMT_JAB_PEMAKAI',
       'TGL_PENSIUN_PEMAKAI', 'STATUS_SBSN', 'STATUS_IDLE', 'TGL_TARIK'],
      dtype='object')

In [5]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA','TGL_DANA','TGL_PERLH', 'TGL_PSP', 'TGL_SIP', 'TGL_LAHIR_PEMAKAI', 
         'TGL_PENSIUN_PEMAKAI', 'TGL_TARIK']

In [15]:
cname[10]

'TGL_TARIK'

In [16]:
df['TGL_TARIK']

0        20200225.0
1        20200225.0
2        20200225.0
3        20200225.0
4        20200225.0
            ...
20954    20200225.0
20955    20200225.0
20956    20200225.0
20957    20200225.0
20958    20200225.0
Name: TGL_TARIK, Length: 20959, dtype: float64

In [31]:
df['TGL_TARIK'] = df['TGL_TARIK'].fillna(0)
df['TGL_TARIK']

0        20200225.0
1        20200225.0
2        20200225.0
3        20200225.0
4        20200225.0
            ...
20954    20200225.0
20955    20200225.0
20956    20200225.0
20957    20200225.0
20958    20200225.0
Name: TGL_TARIK, Length: 20959, dtype: float64

In [32]:
df['TGL_TARIK'] = df['TGL_TARIK'].apply(np.int64)
df['TGL_TARIK']

0        20200225
1        20200225
2        20200225
3        20200225
4        20200225
           ...
20954    20200225
20955    20200225
20956    20200225
20957    20200225
20958    20200225
Name: TGL_TARIK, Length: 20959, dtype: int64

In [45]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0        2020-02-25
1        2020-02-25
2        2020-02-25
3        2020-02-25
4        2020-02-25
            ...
20954    2020-02-25
20955    2020-02-25
20956    2020-02-25
20957    2020-02-25
20958    2020-02-25
Name: TGL_TARIK, Length: 20959, dtype: object

In [47]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0        2018-11-17
1        2019-04-25
2        2018-08-14
3        2010-06-17
4        2012-04-25
            ...
20954    2014-12-12
20955    2014-12-12
20956    2014-12-12
20957    2014-12-12
20958    2014-12-12
Name: TANGGAL_PEROLEHAN, Length: 20959, dtype: object

In [48]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0        2018-12-17
1        2019-12-28
2        2019-10-03
3        2010-06-22
4        2013-05-20
            ...
20954    2014-12-31
20955    2014-12-31
20956    2014-12-31
20957    2014-12-31
20958    2014-12-31
Name: TGL_BUKU, Length: 20959, dtype: object

In [49]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0        2018-12-17
1        2019-12-28
2        2019-10-03
3        2010-06-22
4        2013-05-20
            ...
20954    2014-12-31
20955    2014-12-31
20956    2014-12-31
20957    2014-12-31
20958    2014-12-31
Name: TGL_REKAM, Length: 20959, dtype: object

In [50]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0        2018-12-17
1        2019-12-28
2        2019-10-03
3        2010-06-22
4        2013-05-20
            ...
20954    2014-12-31
20955    2014-12-31
20956    2014-12-31
20957    2014-12-31
20958    2014-12-31
Name: TGL_REKAM_PERTAMA, Length: 20959, dtype: object

In [51]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
20954    2014-04-11
20955    2014-04-11
20956    2014-04-11
20957    2014-04-11
20958    2014-04-11
Name: TGL_DANA, Length: 20959, dtype: object

In [52]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0        2018-11-17
1        2019-04-25
2        2018-08-14
3        2010-06-17
4        2012-04-25
            ...
20954    2014-12-12
20955    2014-12-12
20956    2014-12-12
20957    2014-12-12
20958    2014-12-12
Name: TGL_PERLH, Length: 20959, dtype: object

In [53]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
20954    0000-00-00
20955    0000-00-00
20956    0000-00-00
20957    0000-00-00
20958    0000-00-00
Name: TGL_PSP, Length: 20959, dtype: object

In [54]:
df = convert_todate(df, column_name=cname[7])
df[cname[7]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
20954    0000-00-00
20955    0000-00-00
20956    0000-00-00
20957    0000-00-00
20958    0000-00-00
Name: TGL_SIP, Length: 20959, dtype: object

In [55]:
df = convert_todate(df, column_name=cname[8])
df[cname[8]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
20954    0000-00-00
20955    0000-00-00
20956    0000-00-00
20957    0000-00-00
20958    0000-00-00
Name: TGL_LAHIR_PEMAKAI, Length: 20959, dtype: object

In [56]:
df = convert_todate(df, column_name=cname[9])
df[cname[9]]

0        0000-00-00
1        0000-00-00
2        0000-00-00
3        0000-00-00
4        0000-00-00
            ...
20954    0000-00-00
20955    0000-00-00
20956    0000-00-00
20957    0000-00-00
20958    0000-00-00
Name: TGL_PENSIUN_PEMAKAI, Length: 20959, dtype: object

In [57]:
df[cname[10]]

0        2020-02-25
1        2020-02-25
2        2020-02-25
3        2020-02-25
4        2020-02-25
            ...
20954    2020-02-25
20955    2020-02-25
20956    2020-02-25
20957    2020-02-25
20958    2020-02-25
Name: TGL_TARIK, Length: 20959, dtype: object

In [58]:
df = convert_todate(df, column_name=cname[10])
df[cname[10]]

0        2020-02-25
1        2020-02-25
2        2020-02-25
3        2020-02-25
4        2020-02-25
            ...
20954    2020-02-25
20955    2020-02-25
20956    2020-02-25
20957    2020-02-25
20958    2020-02-25
Name: TGL_TARIK, Length: 20959, dtype: object

In [61]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [62]:
df.to_sql('t_ASET_ALAT_BERAT', con=engine, if_exists='append', chunksize=500, index=False)