In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_ALAT_ANGKUTAN.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (47,48,49,50,52,54,55,56,57,58,59,60) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(100)

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,JAB_PEMAKAI,JAB_FUNG_PEMAKAI,TMT_JAB_PEMAKAI,TGL_PENSIUN_PEMAKAI,STATUS_PENGGUNAAN,JENIS_PENGGUNA,KD_SATKER_PENGGUNA,UR_SATKER_PENGGUNA,ALAMAT_SATKER_PENGGUNA,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR BERODA DUA,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
1,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR KHUSUS,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
2,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642122000KD,POLRES METRO JAKARTA UTARA,060010100642122000KD,POLRES METRO JAKARTA UTARA,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN DINAS BERMOTOR PERORANGAN,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
3,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR BERODA DUA,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
4,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR BERODA DUA,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,60,KEPOLISIAN NEGARA RI,15103,KPKNL PARE-PARE,060011900646498000KD,POLRES PAREPARE,060011900646498000KD,POLRES PAREPARE,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR KHUSUS,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
96,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR BERODA DUA,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
97,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR KHUSUS,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
98,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642122000KD,POLRES METRO JAKARTA UTARA,060010100642122000KD,POLRES METRO JAKARTA UTARA,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN DINAS BERMOTOR PERORANGAN,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225
99,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642115000KD,POLRES METRO JAKARTA PUSAT,060010100642115000KD,POLRES METRO JAKARTA PUSAT,ALAT ANGKUTAN DARAT BERMOTOR,KENDARAAN BERMOTOR BERODA DUA,...,NaN,NaN,NaN,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,-,20200225

In [4]:
df.shape

(195906, 67)

In [5]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'NO_KIB',
       'TANGGAL_PEROLEHAN', 'TGL_REKAM_PERTAMA', 'NILAI_PEROLEHAN_PERTAMA',
       'NILAI_MUTASI', 'NILAI_PEROLEHAN', 'NILAI_PENYUSUTAN', 'NILAI_BUKU',
       'KONDISI', 'MERK', 'KUANTITAS', 'JUMLAH_FOTO', 'JUMLAH_KIB', 'NO_DANA',
       'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP', 'TGL_PSP',
       'STATUS_PENGELOLAAN', 'THN_RAKIT', 'THN_BUAT', 'NEGARA', 'DAYA_ANGKUT',
       'BOBOT', 'DAYA_MESIN', 'MESIN_PENGGERAK', 'JLH_MESIN', 'BHN_BAKAR',
       'NO_MESIN', 'NO_RANGKA', 'NO_BPKB', 'NO_POLISI', 'TGL_BERLAKU_MULAI',
       'TGL_BERLAKU_SD', 'NO_SIP', 'TGL_SIP', 'NIP_PEMAKAI', 'NAMA_PEMAKAI',
       'NO_KTP_PEMAKAI', 'TEMPAT_LAHIR_PEMAKAI', 'TGL_LAHIR_PEMAKAI',
       'GOL_PEMAKAI', 'JAB_PEMAKAI', 'JAB_FUNG_PEMAKAI', 'TMT_JAB_PEMAKAI',
       'TGL_PENSIUN_PEMAKAI', 'STATUS_PENGGUNAAN', 'JENIS_PENGGUNA',
       'KD_SATKER_PENGGUNA', 'UR_SATKER_PENGGUNA', 'ALAMAT_SATKER_PENGGUNA',
       'TGL_TARIK'],
      dtype='object')

In [6]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_REKAM_PERTAMA','TGL_DANA','TGL_PSP', 'TGL_BERLAKU_MULAI', 'TGL_BERLAKU_SD', 'TGL_SIP', 'TGL_LAHIR_PEMAKAI',
         'TGL_PENSIUN_PEMAKAI', 'TGL_TARIK']

In [7]:
df[cname[3]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_PSP, Length: 195906, dtype: object

In [8]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_PSP, Length: 195906, dtype: object

In [9]:
df[cname[0]]

0         2004-01-01 00:00:00.0000000
1         2017-10-30 00:00:00.0000000
2         2009-09-08 00:00:00.0000000
3         2001-12-31 00:00:00.0000000
4         2011-09-05 00:00:00.0000000
                     ...
195901    1990-12-31 00:00:00.0000000
195902    1990-12-31 00:00:00.0000000
195903    1990-12-31 00:00:00.0000000
195904    1990-12-31 00:00:00.0000000
195905    1992-12-31 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 195906, dtype: object

In [10]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0         2004-01-01
1         2017-10-30
2         2009-09-08
3         2001-12-31
4         2011-09-05
             ...
195901    1990-12-31
195902    1990-12-31
195903    1990-12-31
195904    1990-12-31
195905    1992-12-31
Name: TANGGAL_PEROLEHAN, Length: 195906, dtype: object

In [11]:
df[cname[1]]

0         2007-12-31 00:00:00.0000000
1         2019-12-20 00:00:00.0000000
2         2009-11-13 00:00:00.0000000
3         2012-08-13 00:00:00.0000000
4         2011-09-05 00:00:00.0000000
                     ...
195901    2007-12-31 00:00:00.0000000
195902    2007-12-31 00:00:00.0000000
195903    2007-12-31 00:00:00.0000000
195904    2007-12-31 00:00:00.0000000
195905    2007-12-31 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 195906, dtype: object

In [12]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0         2007-12-31
1         2019-12-20
2         2009-11-13
3         2012-08-13
4         2011-09-05
             ...
195901    2007-12-31
195902    2007-12-31
195903    2007-12-31
195904    2007-12-31
195905    2007-12-31
Name: TGL_REKAM_PERTAMA, Length: 195906, dtype: object

In [13]:
df[cname[2]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_DANA, Length: 195906, dtype: object

In [14]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_DANA, Length: 195906, dtype: object

In [15]:
df[cname[3]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_PSP, Length: 195906, dtype: object

In [16]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_PSP, Length: 195906, dtype: object

In [17]:
df[cname[4]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_BERLAKU_MULAI, Length: 195906, dtype: object

In [18]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_BERLAKU_MULAI, Length: 195906, dtype: object

In [19]:
df[cname[5]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_BERLAKU_SD, Length: 195906, dtype: object

In [20]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_BERLAKU_SD, Length: 195906, dtype: object

In [21]:
df[cname[6]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_SIP, Length: 195906, dtype: object

In [22]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_SIP, Length: 195906, dtype: object

In [23]:
df[cname[7]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_LAHIR_PEMAKAI, Length: 195906, dtype: object

In [24]:
df = convert_todate(df, column_name=cname[7])
df[cname[7]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_LAHIR_PEMAKAI, Length: 195906, dtype: object

In [25]:
df[cname[8]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
195901    NaN
195902    NaN
195903    NaN
195904    NaN
195905    NaN
Name: TGL_PENSIUN_PEMAKAI, Length: 195906, dtype: object

In [26]:
df = convert_todate(df, column_name=cname[8])
df[cname[8]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
195901    0000-00-00
195902    0000-00-00
195903    0000-00-00
195904    0000-00-00
195905    0000-00-00
Name: TGL_PENSIUN_PEMAKAI, Length: 195906, dtype: object

In [27]:
# tgl_tarik = df[cname[8]]
# # tgl_tarik.head()

In [28]:
# strtarik = tgl_tarik.apply(str)
# strtarik.head()

In [43]:
# untuk handle data jenis ini, tahun bulan dan tanggal nyambung nggak ada pemisah
# solusinya memecah 20200225 menjadi sesuatu yang bisa terbaca

# 0         20200225
# 1         20200225
# 2         20200225
# 3         20200225
# 4         20200225
#             ...   
# 195901    20200225
# 195902    20200225
# 195903    20200225
# 195904    20200225
# 195905    20200225
# Name: TGL_TARIK, Length: 195906, dtype: int64

data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'

    
    at = arrow.get(str_date)
    date = at.date()

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-01-01
1         2020-01-01
2         2020-01-01
3         2020-01-01
4         2020-01-01
             ...
195901    2020-01-01
195902    2020-01-01
195903    2020-01-01
195904    2020-01-01
195905    2020-01-01
Name: TGL_TARIK, Length: 195906, dtype: object

In [44]:
# df['TGL_TARIK']

In [45]:
# # df = convert_date(df, column_name=cname[8])
# # df[cname[8]]
# df[column_name]

In [56]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [57]:
df.to_sql('t_ASET_ALAT_ANGKUTAN', con=engine, if_exists='append', chunksize=500, index=False)