In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_PIHAK_KE3.csv", sep='|', encoding='ISO-8859-1')

In [3]:
df.head()

Empty DataFrame
Columns: [KODE_KL, NAMA_KL, KODE_KPKNL, NAMA_KPKNL, KODE_SATKER, NAMA_SATKER, KODE_SUB_SATKER, NAMA_SUB_SATKER, KELOMPOK, SUB_KELOMPOK, KODE_BARANG, NAMA_BARANG, NUP, TGL_BUKU, TGL_REKAM, TGL_REKAM_PERTAMA, NILAI_PEROLEHAN_PERTAMA, NILAI_MUTASI, NILAI_PEROLEHAN, NILAI_PENYUSUTAN, NILAI_BUKU, KONDISI, MERK, KUANTITAS, KODE_PROVINSI, URAIAN_PROVINSI, KODE_KAB_KOTA, URAIAN_KAB_KOTA, KECAMATAN, KELURAHAN_DESA, KODE_POS, RT_RW, ALAMAT, ALAMAT_LAINNYA, NO_DANA, TGL_DANA, DARI, ASL_PERLH, TGL_PERLH, NO_PSP, TGL_PSP, STATUS_PENGELOLAAN, STATUS_PENGGUNAAN, TGL_TARIK]
Index: []

[0 rows x 44 columns]

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'TGL_BUKU',
       'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'NILAI_PEROLEHAN_PERTAMA',
       'NILAI_MUTASI', 'NILAI_PEROLEHAN', 'NILAI_PENYUSUTAN', 'NILAI_BUKU',
       'KONDISI', 'MERK', 'KUANTITAS', 'KODE_PROVINSI', 'URAIAN_PROVINSI',
       'KODE_KAB_KOTA', 'URAIAN_KAB_KOTA', 'KECAMATAN', 'KELURAHAN_DESA',
       'KODE_POS', 'RT_RW', 'ALAMAT', 'ALAMAT_LAINNYA', 'NO_DANA', 'TGL_DANA',
       'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP', 'TGL_PSP',
       'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN', 'TGL_TARIK'],
      dtype='object')

In [5]:
cname = ['TGL_BUKU','TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP', 'TGL_TARIK']

In [6]:
len(cname)

7

In [7]:
df[cname[1]]

Series([], Name: TGL_REKAM, dtype: object)

In [8]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

Series([], Name: TGL_BUKU, dtype: float64)

In [9]:
df[cname[0]]

Series([], Name: TGL_BUKU, dtype: float64)

In [10]:
crekam = df[cname[0]]
crekam

Series([], Name: TGL_BUKU, dtype: float64)

In [11]:
cstr = crekam.apply(str)

In [12]:
cstr

Series([], Name: TGL_BUKU, dtype: float64)

In [13]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

Series([], Name: TGL_REKAM, dtype: float64)

In [14]:
df[cname[2]]

Series([], Name: TGL_REKAM_PERTAMA, dtype: object)

In [15]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

Series([], Name: TGL_REKAM_PERTAMA, dtype: float64)

In [16]:
df[cname[3]]

Series([], Name: TGL_DANA, dtype: object)

In [17]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

Series([], Name: TGL_DANA, dtype: float64)

In [18]:
df[cname[4]]

Series([], Name: TGL_PERLH, dtype: object)

In [19]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

Series([], Name: TGL_PERLH, dtype: float64)

In [20]:
df[cname[5]]

Series([], Name: TGL_PSP, dtype: object)

In [21]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

Series([], Name: TGL_PSP, dtype: float64)

In [22]:
df[cname[6]]

Series([], Name: TGL_TARIK, dtype: object)

In [29]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

Series([], Name: TGL_TARIK, dtype: float64)

In [30]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [31]:
df.to_sql('t_ASET_PIHAK_KE3', con=engine, if_exists='append', chunksize=500, index=False)