In [2]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [3]:
df = pd.read_csv("../data/ASET_HIBAH.csv", sep='|', encoding='ISO-8859-1')

/opt/anaconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (28,30,31,32,33,34,35,36,37,38,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_DANA,TGL_DANA,DARI,ASL_PERLH,TGL_PERLH,NO_PSP,TGL_PSP,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ALAT KOMUNIKASI,ALAT KOMUNIKASI SOSIAL,...,NaN,NaN,107 (Reklasifikasi Masuk),APBN-P T.A. 2016,2016-12-13 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
1,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ALAT KOMUNIKASI,ALAT KOMUNIKASI SOSIAL,...,NaN,NaN,107 (Reklasifikasi Masuk),APBN-P T.A. 2016,2016-12-13 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
2,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ALAT KOMUNIKASI,ALAT KOMUNIKASI SOSIAL,...,NaN,NaN,107 (Reklasifikasi Masuk),APBN-P T.A. 2016,2016-12-13 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
3,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ALAT KOMUNIKASI,ALAT KOMUNIKASI SOSIAL,...,NaN,NaN,107 (Reklasifikasi Masuk),APBN-P T.A. 2016,2016-12-13 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226
4,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060018100642267000KP,DIV TI POLRI,060018100642267000KP,DIV TI POLRI,ALAT KOMUNIKASI,ALAT KOMUNIKASI SOSIAL,...,NaN,NaN,107 (Reklasifikasi Masuk),APBN-P T.A. 2016,2016-12-13 00:00:00,NaN,NaN,NaN,Digunakan sendiri untuk operasional,20200226

In [5]:
len(df)

6330440

In [6]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'TGL_BUKU',
       'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_MUTASI', 'NO_BUKTI',
       'KETERANGAN', 'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI',
       'NILAI_PEROLEHAN', 'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK',
       'KUANTITAS', 'KODE_PROVINSI', 'URAIAN_PROVINSI', 'KODE_KAB_KOTA',
       'URAIAN_KAB_KOTA', 'KECAMATAN', 'KELURAHAN_DESA', 'KODE_POS', 'RT_RW',
       'ALAMAT', 'ALAMAT_LAINNYA', 'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH',
       'TGL_PERLH', 'NO_PSP', 'TGL_PSP', 'STATUS_PENGELOLAAN',
       'STATUS_PENGGUNAAN', 'TGL_TARIK'],
      dtype='object')

In [7]:
cname = ['TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_MUTASI', 'TGL_DANA', 'TGL_PERLH', 'TGL_PSP', 'TGL_TARIK']

In [8]:
len(cname)

8

In [9]:
df[cname[0]]

0          2016-12-13 00:00:00
1          2016-12-13 00:00:00
2          2016-12-13 00:00:00
3          2016-12-13 00:00:00
4          2016-12-13 00:00:00
                  ...
6330435    2017-12-20 00:00:00
6330436    2017-12-20 00:00:00
6330437    2017-12-20 00:00:00
6330438    2017-12-20 00:00:00
6330439    2017-12-20 00:00:00
Name: TGL_BUKU, Length: 6330440, dtype: object

In [10]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0          2016-12-13
1          2016-12-13
2          2016-12-13
3          2016-12-13
4          2016-12-13
              ...
6330435    2017-12-20
6330436    2017-12-20
6330437    2017-12-20
6330438    2017-12-20
6330439    2017-12-20
Name: TGL_BUKU, Length: 6330440, dtype: object

In [11]:
df[cname[1]]

0          2016-12-13 00:00:00
1          2016-12-13 00:00:00
2          2016-12-13 00:00:00
3          2016-12-13 00:00:00
4          2016-12-13 00:00:00
                  ...
6330435    2017-12-20 00:00:00
6330436    2017-12-20 00:00:00
6330437    2017-12-20 00:00:00
6330438    2017-12-20 00:00:00
6330439    2017-12-20 00:00:00
Name: TGL_REKAM, Length: 6330440, dtype: object

In [12]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0          2016-12-13
1          2016-12-13
2          2016-12-13
3          2016-12-13
4          2016-12-13
              ...
6330435    2017-12-20
6330436    2017-12-20
6330437    2017-12-20
6330438    2017-12-20
6330439    2017-12-20
Name: TGL_REKAM, Length: 6330440, dtype: object

In [13]:
df[cname[2]]

0          2016-12-13 00:00:00
1          2016-12-13 00:00:00
2          2016-12-13 00:00:00
3          2016-12-13 00:00:00
4          2016-12-13 00:00:00
                  ...
6330435    2017-12-20 00:00:00
6330436    2017-12-20 00:00:00
6330437    2017-12-20 00:00:00
6330438    2017-12-20 00:00:00
6330439    2017-12-20 00:00:00
Name: TGL_REKAM_PERTAMA, Length: 6330440, dtype: object

In [14]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0          2016-12-13
1          2016-12-13
2          2016-12-13
3          2016-12-13
4          2016-12-13
              ...
6330435    2017-12-20
6330436    2017-12-20
6330437    2017-12-20
6330438    2017-12-20
6330439    2017-12-20
Name: TGL_REKAM_PERTAMA, Length: 6330440, dtype: object

In [15]:
df[cname[3]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
6330435   NaN
6330436   NaN
6330437   NaN
6330438   NaN
6330439   NaN
Name: TGL_MUTASI, Length: 6330440, dtype: float64

In [16]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0          0000-00-00
1          0000-00-00
2          0000-00-00
3          0000-00-00
4          0000-00-00
              ...
6330435    0000-00-00
6330436    0000-00-00
6330437    0000-00-00
6330438    0000-00-00
6330439    0000-00-00
Name: TGL_MUTASI, Length: 6330440, dtype: object

In [17]:
df[cname[4]]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
6330435    NaN
6330436    NaN
6330437    NaN
6330438    NaN
6330439    NaN
Name: TGL_DANA, Length: 6330440, dtype: object

In [18]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0          0000-00-00
1          0000-00-00
2          0000-00-00
3          0000-00-00
4          0000-00-00
              ...
6330435    0000-00-00
6330436    0000-00-00
6330437    0000-00-00
6330438    0000-00-00
6330439    0000-00-00
Name: TGL_DANA, Length: 6330440, dtype: object

In [19]:
df[cname[5]]

0          2016-12-13 00:00:00
1          2016-12-13 00:00:00
2          2016-12-13 00:00:00
3          2016-12-13 00:00:00
4          2016-12-13 00:00:00
                  ...
6330435    2017-12-20 00:00:00
6330436    2017-12-20 00:00:00
6330437    2017-12-20 00:00:00
6330438    2017-12-20 00:00:00
6330439    2017-12-20 00:00:00
Name: TGL_PERLH, Length: 6330440, dtype: object

In [20]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0          2016-12-13
1          2016-12-13
2          2016-12-13
3          2016-12-13
4          2016-12-13
              ...
6330435    2017-12-20
6330436    2017-12-20
6330437    2017-12-20
6330438    2017-12-20
6330439    2017-12-20
Name: TGL_PERLH, Length: 6330440, dtype: object

In [21]:
df[cname[6]]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
6330435    NaN
6330436    NaN
6330437    NaN
6330438    NaN
6330439    NaN
Name: TGL_PSP, Length: 6330440, dtype: object

In [22]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0          0000-00-00
1          0000-00-00
2          0000-00-00
3          0000-00-00
4          0000-00-00
              ...
6330435    0000-00-00
6330436    0000-00-00
6330437    0000-00-00
6330438    0000-00-00
6330439    0000-00-00
Name: TGL_PSP, Length: 6330440, dtype: object

In [23]:
df[cname[7]]

0          20200226
1          20200226
2          20200226
3          20200226
4          20200226
             ...
6330435    20200226
6330436    20200226
6330437    20200226
6330438    20200226
6330439    20200226
Name: TGL_TARIK, Length: 6330440, dtype: int64

In [24]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0          2020-02-26
1          2020-02-26
2          2020-02-26
3          2020-02-26
4          2020-02-26
              ...
6330435    2020-02-26
6330436    2020-02-26
6330437    2020-02-26
6330438    2020-02-26
6330439    2020-02-26
Name: TGL_TARIK, Length: 6330440, dtype: object

In [25]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [26]:
df.to_sql('t_ASET_HIBAH', con=engine, if_exists='append', chunksize=500, index=False)

/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 175
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 176
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 177
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 178
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 179
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 57
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 33
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 36
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 39
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 42
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 100
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 103
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 106
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 110
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 297
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 198
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 200
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 202
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 204
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 206
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 226
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 227
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 228
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 229
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 230
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 231
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 232
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 233
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 234
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 235
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 236
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 237
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 238
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 239
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 166
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 167
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 168
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 169
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 222
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 223
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 224
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 225
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 77
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 101
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 104
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 60
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 182
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 62
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 64
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 65
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 67
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 68
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 69
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 73
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 399
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 472
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 474
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 477
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 480
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 9
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 12
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 35
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 44
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 46
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 66
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 115
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 192
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 210
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 241
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 250
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 251
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 264
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 293
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 339
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 369
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 378
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 10
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 11
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 15
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 25
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 26
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 27
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 28
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 29
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 70
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 75
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 78
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 79
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 82
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 91
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 93
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 131
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 132
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 134
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 135
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'KECAMATAN' at row 136
  rowcount = cursor.executemany(statement, parameters)