In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_TETAP_LAINNYA.csv", sep='|', encoding='ISO-8859-1')

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KELOMPOK,SUB_KELOMPOK,...,NO_PSP,TGL_PSP,JUMLAH_FOTO,STATUS_PENGELOLAAN,STATUS_PENGGUNAAN,JENIS_PENGGUNA,KD_SATKER_PENGGUNA,UR_SATKER_PENGGUNA,ALAMAT_SATKER_PENGGUNA,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,9110,KPKNL PURWOKERTO,060010300643220000KD,SPN PURWOKERTO,060010300643220000KD,SPN PURWOKERTO,BAHAN PERPUSTAKAAN TERCETAK,BUKU,...,NaN,NaN,0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226
1,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100641972000KD,PELAYANAN MARKAS,060010100641972000KD,PELAYANAN MARKAS,BARANG BERCORAK KESENIAN,ALAT MUSIK,...,NaN,NaN,0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226
2,60,KEPOLISIAN NEGARA RI,7104,KPKNL JAKARTA IV,060010100642005000KD,DIREKTORAT SABHARA,060010100642005000KD,DIREKTORAT SABHARA,HEWAN PIARAAN,HEWAN PENGAMAN,...,NaN,NaN,1,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226
3,60,KEPOLISIAN NEGARA RI,2101,KPKNL MEDAN,060010700640228000KD,SPRIPIM POLDA SUMATERA UTARA,060010700640228000KD,SPRIPIM POLDA SUMATERA UTARA,BAHAN PERPUSTAKAAN TERCETAK,BUKU,...,NaN,NaN,0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226
4,60,KEPOLISIAN NEGARA RI,8101,KPKNL BANDUNG,060010200642651000KD,SPRIPIM POLDA JABAR,060010200642651006KD,SETUM POLDA JABAR,BAHAN PERPUSTAKAAN TERCETAK,BUKU,...,NaN,NaN,0,NaN,Digunakan sendiri untuk operasional,NaN,NaN,NaN,NaN,20200226

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KELOMPOK',
       'SUB_KELOMPOK', 'KODE_BARANG', 'NAMA_BARANG', 'NUP', 'NO_KIB',
       'TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA',
       'NILAI_PEROLEHAN_PERTAMA', 'NILAI_MUTASI', 'NILAI_PEROLEHAN',
       'NILAI_PENYUSUTAN', 'NILAI_BUKU', 'KONDISI', 'MERK', 'KUANTITAS',
       'NO_DANA', 'TGL_DANA', 'DARI', 'ASL_PERLH', 'TGL_PERLH', 'NO_PSP',
       'TGL_PSP', 'JUMLAH_FOTO', 'STATUS_PENGELOLAAN', 'STATUS_PENGGUNAAN',
       'JENIS_PENGGUNA', 'KD_SATKER_PENGGUNA', 'UR_SATKER_PENGGUNA',
       'ALAMAT_SATKER_PENGGUNA', 'TGL_TARIK'],
      dtype='object')

In [5]:
# df['NAMA_SATKER']

In [6]:
cname = ['TANGGAL_PEROLEHAN', 'TGL_BUKU', 'TGL_REKAM', 'TGL_REKAM_PERTAMA', 'TGL_DANA', 'TGL_PERLH',  'TGL_PSP',
        'TGL_TARIK']
len(cname)

8

In [7]:
df[cname[0]]

0         2004-12-31 00:00:00.0000000
1         2000-01-01 00:00:00.0000000
2         2017-11-07 00:00:00.0000000
3         2018-11-05 00:00:00.0000000
4         2004-01-02 00:00:00.0000000
                     ...
166047    2008-04-22 00:00:00.0000000
166048    2008-04-22 00:00:00.0000000
166049    2008-04-22 00:00:00.0000000
166050    2008-04-22 00:00:00.0000000
166051    2008-04-22 00:00:00.0000000
Name: TANGGAL_PEROLEHAN, Length: 166052, dtype: object

In [8]:
df = convert_todate(df, column_name=cname[0])
df[cname[0]]

0         2004-12-31
1         2000-01-01
2         2017-11-07
3         2018-11-05
4         2004-01-02
             ...
166047    2008-04-22
166048    2008-04-22
166049    2008-04-22
166050    2008-04-22
166051    2008-04-22
Name: TANGGAL_PEROLEHAN, Length: 166052, dtype: object

In [9]:
df[cname[1]]

0         2008-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2017-12-31 00:00:00.0000000
3         2018-12-30 00:00:00.0000000
4         2006-04-17 00:00:00.0000000
                     ...
166047    2008-06-24 00:00:00.0000000
166048    2008-06-24 00:00:00.0000000
166049    2008-06-24 00:00:00.0000000
166050    2008-06-24 00:00:00.0000000
166051    2008-06-24 00:00:00.0000000
Name: TGL_BUKU, Length: 166052, dtype: object

In [10]:
df = convert_todate(df, column_name=cname[1])
df[cname[1]]

0         2008-12-31
1         2007-12-31
2         2017-12-31
3         2018-12-30
4         2006-04-17
             ...
166047    2008-06-24
166048    2008-06-24
166049    2008-06-24
166050    2008-06-24
166051    2008-06-24
Name: TGL_BUKU, Length: 166052, dtype: object

In [11]:
df[cname[2]]

0         2008-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2017-12-31 00:00:00.0000000
3         2018-12-30 00:00:00.0000000
4         2006-04-17 00:00:00.0000000
                     ...
166047    2008-06-24 00:00:00.0000000
166048    2008-06-24 00:00:00.0000000
166049    2008-06-24 00:00:00.0000000
166050    2008-06-24 00:00:00.0000000
166051    2008-06-24 00:00:00.0000000
Name: TGL_REKAM, Length: 166052, dtype: object

In [12]:
df = convert_todate(df, column_name=cname[2])
df[cname[2]]

0         2008-12-31
1         2007-12-31
2         2017-12-31
3         2018-12-30
4         2006-04-17
             ...
166047    2008-06-24
166048    2008-06-24
166049    2008-06-24
166050    2008-06-24
166051    2008-06-24
Name: TGL_REKAM, Length: 166052, dtype: object

In [13]:
df[cname[3]]

0         2008-12-31 00:00:00.0000000
1         2007-12-31 00:00:00.0000000
2         2017-12-31 00:00:00.0000000
3         2018-12-30 00:00:00.0000000
4         2006-04-17 00:00:00.0000000
                     ...
166047    2008-06-24 00:00:00.0000000
166048    2008-06-24 00:00:00.0000000
166049    2008-06-24 00:00:00.0000000
166050    2008-06-24 00:00:00.0000000
166051    2008-06-24 00:00:00.0000000
Name: TGL_REKAM_PERTAMA, Length: 166052, dtype: object

In [14]:
df = convert_todate(df, column_name=cname[3])
df[cname[3]]

0         2008-12-31
1         2007-12-31
2         2017-12-31
3         2018-12-30
4         2006-04-17
             ...
166047    2008-06-24
166048    2008-06-24
166049    2008-06-24
166050    2008-06-24
166051    2008-06-24
Name: TGL_REKAM_PERTAMA, Length: 166052, dtype: object

In [15]:
cdana = df[cname[4]]

In [16]:
strdana = cdana.apply(str)

In [17]:
df = convert_todate(df, column_name=cname[4])
df[cname[4]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
166047    0000-00-00
166048    0000-00-00
166049    0000-00-00
166050    0000-00-00
166051    0000-00-00
Name: TGL_DANA, Length: 166052, dtype: object

In [18]:
df[cname[5]]

0         2004-12-31 00:00:00.0000000
1         2000-01-01 00:00:00.0000000
2         2017-11-07 00:00:00.0000000
3         2018-11-05 00:00:00.0000000
4         2004-01-02 00:00:00.0000000
                     ...
166047    2008-04-22 00:00:00.0000000
166048    2008-04-22 00:00:00.0000000
166049    2008-04-22 00:00:00.0000000
166050    2008-04-22 00:00:00.0000000
166051    2008-04-22 00:00:00.0000000
Name: TGL_PERLH, Length: 166052, dtype: object

In [19]:
df = convert_todate(df, column_name=cname[5])
df[cname[5]]

0         2004-12-31
1         2000-01-01
2         2017-11-07
3         2018-11-05
4         2004-01-02
             ...
166047    2008-04-22
166048    2008-04-22
166049    2008-04-22
166050    2008-04-22
166051    2008-04-22
Name: TGL_PERLH, Length: 166052, dtype: object

In [20]:
df[cname[6]]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
166047    NaN
166048    NaN
166049    NaN
166050    NaN
166051    NaN
Name: TGL_PSP, Length: 166052, dtype: object

In [21]:
df = convert_todate(df, column_name=cname[6])
df[cname[6]]

0         0000-00-00
1         0000-00-00
2         0000-00-00
3         0000-00-00
4         0000-00-00
             ...
166047    0000-00-00
166048    0000-00-00
166049    0000-00-00
166050    0000-00-00
166051    0000-00-00
Name: TGL_PSP, Length: 166052, dtype: object

In [23]:
df[cname[7]]

0         20200226
1         20200226
2         20200226
3         20200226
4         20200226
            ...
166047    20200226
166048    20200226
166049    20200226
166050    20200226
166051    20200226
Name: TGL_TARIK, Length: 166052, dtype: int64

In [24]:
data = df
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-02-26
1         2020-02-26
2         2020-02-26
3         2020-02-26
4         2020-02-26
             ...
166047    2020-02-26
166048    2020-02-26
166049    2020-02-26
166050    2020-02-26
166051    2020-02-26
Name: TGL_TARIK, Length: 166052, dtype: object

In [25]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [26]:
df.to_sql('t_ASET_TETAP_LAINNYA', con=engine, if_exists='append', chunksize=500, index=False)

/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 1
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 2
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 3
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 4
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 5
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 6
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 7
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 8
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 9
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 10
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 11
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 12
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 13
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 14
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 15
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 16
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 17
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 18
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 19
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 20
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 21
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 22
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 23
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 24
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 25
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 26
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 27
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 28
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 29
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 30
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 31
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 32
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 33
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 34
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 35
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 36
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 38
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 39
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 40
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 41
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 42
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 43
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 44
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 45
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 46
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 47
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 48
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 49
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 50
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 51
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 52
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 53
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 54
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 55
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 56
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 57
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 58
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 59
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 60
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 61
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 62
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 63
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 64
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 65
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 37
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 66
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 67
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 68
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 69
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 70
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 71
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 72
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 73
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 82
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 74
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 75
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 76
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 77
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 78
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 79
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 80
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 81
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 83
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 84
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 85
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 86
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 87
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 88
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 93
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 94
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 95
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 96
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 89
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 90
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 91
  rowcount = cursor.executemany(statement, parameters)
/opt/anaconda3/envs/work/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py:148: Warning: Data truncated for column 'NAMA_SATKER' at row 92