In [1]:
import arrow
import pandas as pd
from datetime import datetime
import numpy as np

def convert_todate(df, column_name):
    data_series = []
    len_data = len(df[column_name])
    for idx in range(len_data):
        data = df[column_name].iloc[idx]
        try:
            at = arrow.get(data)
            date = at.date()
            data = date
        except: # jika NAN or NAT
            data = "0000-00-00"

        data_series.append(data)

    df[column_name] = data_series
    return df

In [2]:
df = pd.read_csv("../data/ASET_PERSEDIAAN.csv", sep='|', encoding='ISO-8859-1')

In [3]:
df.head()

,KODE_KL,NAMA_KL,KODE_KPKNL,NAMA_KPKNL,KODE_SATKER,NAMA_SATKER,KODE_SUB_SATKER,NAMA_SUB_SATKER,KODE_BARANG,NAMA_BARANG,TAHUN,PERIODE,KUANTITAS,NILAI,TGL_TARIK
0,60,KEPOLISIAN NEGARA RI,4104,KPKNL PANGKALPINANG,060013000678427000KD,BIRO RENA POLDA KEP. BABEL,060013000678427000KD,BIRO RENA POLDA KEP. BABEL,1010302999,Kertas Dan Cover Lainnya,2019,8,2,70000,20200225
1,60,KEPOLISIAN NEGARA RI,16102,KPKNL GORONTALO,060013100669889000KD,DIREKTORAT LALU LINTAS POLDA GORONTALO,060013100669889000KD,DIREKTORAT LALU LINTAS POLDA GORONTALO,1010302003,Kertas Cover,2015,1,2,40000,20200225
2,60,KEPOLISIAN NEGARA RI,8103,KPKNL BOGOR,060018200669172000KP,PASUKAN GEGANA,060018200669172000KP,PASUKAN GEGANA,1010104001,Bahan Bakar Minyak (Bahan Baku),2017,7,3774,41189798,20200225
3,60,KEPOLISIAN NEGARA RI,8101,KPKNL BANDUNG,060010200642818000KD,RS BHAYANGKARA TK II SARTIKA ASIH BANDUNG,060010200642818000KD,RS BHAYANGKARA TK II SARTIKA ASIH BANDUNG,1010306002,Lampu Listrik,2009,6,32,874000,20200225
4,60,KEPOLISIAN NEGARA RI,8101,KPKNL BANDUNG,060010200642818000KD,RS BHAYANGKARA TK II SARTIKA ASIH BANDUNG,060010200642818000KD,RS BHAYANGKARA TK II SARTIKA ASIH BANDUNG,1010307003,Penutup Badan,2019,3,27,10660950,20200225

In [4]:
df.columns

Index(['KODE_KL', 'NAMA_KL', 'KODE_KPKNL', 'NAMA_KPKNL', 'KODE_SATKER',
       'NAMA_SATKER', 'KODE_SUB_SATKER', 'NAMA_SUB_SATKER', 'KODE_BARANG',
       'NAMA_BARANG', 'TAHUN', 'PERIODE', 'KUANTITAS', 'NILAI', 'TGL_TARIK'],
      dtype='object')

In [5]:
cname = ['TGL_TARIK']

In [6]:
df[cname[0]]

0         20200225
1         20200225
2         20200225
3         20200225
4         20200225
            ...
201270    20200225
201271    20200225
201272    20200225
201273    20200225
201274    20200225
Name: TGL_TARIK, Length: 201275, dtype: int64

In [7]:
# declaration df to data variable
data = df
# declaration data series ('TGL_TARIK') to column_name
column_name = 'TGL_TARIK'

len_data = len(df)
# len_data = 10
data_series = []
for idx in range(len_data):
    len_data = len(df[column_name])
    data = df[column_name].iloc[idx]
    data = str(data)
    
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    str_date = f'{year}-{month}-{day}'
#     print(str_date)

    try:
        at = arrow.get(str_date)
        date = at.date()
    except:
        str_date = f'0000-00-00'
#         at = arrow.get(str_date)
#         date = at.date()
        date = str_date
#         print(date)
#     print(date)

    data_series.append(date)

df[column_name] = data_series
df[column_name]
# return df

0         2020-02-25
1         2020-02-25
2         2020-02-25
3         2020-02-25
4         2020-02-25
             ...
201270    2020-02-25
201271    2020-02-25
201272    2020-02-25
201273    2020-02-25
201274    2020-02-25
Name: TGL_TARIK, Length: 201275, dtype: object

In [8]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:191618@localhost/db_logpolri')

In [9]:
df.to_sql('t_ASET_PERSEDIAAN', con=engine, if_exists='append', chunksize=500, index=False)